
<div class="row">
	<form class="span6 well form-horizontal" id="editUser">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="firstname">First Name</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="firstname">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="lastname">Last Name</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="lastname">
				</div>
			</div>

			<div class="form-actions pull-right">
				<button type="submit" class="btn btn-primary">Save Contact</button>
			</div>
		</fieldset>
	</form>
</div>

<div class="row">
	<div class="span5 infoBox red"></div>
	<div class="span5 infoBox green"></div>
</div>


<div class="row">
	<div class="span5 infoBox blue"></div>
	<div class="span5 infoBox yellow"></div>
</div>